# This is an example file. DO NOT COMMIT the actual keystore.properties file.
# In your CI/CD environment, you should create this file dynamically using secrets.
# 
# Example values:
# On Windows, the path might look like: C:\Users\YourUser\Documents\keystores\my-release-key.jks
# On Linux/macOS, it would be: /home/YourUser/keystores/my-release-key.jks
storeFile=
storePassword=
keyAlias=
keyPassword=
